:root{
    --noteCol: rgb(228, 231, 231);
    --strikeCol:rgb(194, 230, 247);
    --editCol:#ffe6b7;
    --delCol:rgb(247, 210, 205);
    --inputCol:#ffe6b7;
    --addCol:rgb(216, 250, 225);
    --bgCol: rgb(252, 252, 252);
}
*{
    font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px;
    overflow-x:hidden;
}
.note{
    all:unset;
    padding: 30px;
    border-radius: 5px;
    transition: background 500ms ease-in-out;
    background: var(--noteCol);
    user-select: none;
}
.main, body{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
body{
    align-items: center;
}
.main{
    min-width: 60vw;
    width: 400px;
    background: linear-gradient(
        0.25turn, 
        var(--bgCol) 31%,
        var(--strikeCol) 32%, 
        var(--bgCol) 33% 66%, 
        var(--delCol) 67%, 
        var(--bgCol) 68%
    );
}
.text{
    position: relative;
}
.input{
    background:var(--inputCol);
    min-width: 60vw;
    width: 400px;
}
.input::placeholder{
    font-style: italic;
}
.add{
    background:var(--addCol);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.strike{
    text-decoration: line-through; text-decoration-thickness: 0.2rem;
}
.hide{
    display: none;
}